<ion-view >
    <ion-header-bar align-title="left" class="bar-positive" style="background-color: #373b3e">

        <h1 class="title">iNeedU</h1>
        <div class="buttons" ng-controller="TitleController">
            <a class="button button-icon icon ion-search headerIcon" ng-click="searchAction()"></a>
            <!--<a class="button button-icon icon  ion-plus-round headerIcon" ng-click="addAction($event)"></a>-->
        </div>

    </ion-header-bar>
    <ion-content class="padding">
        首页.....
    </ion-content>
</ion-view>
