<ion-view >
    <ion-header-bar align-title="center" class="bar-calm header" style="background-color:#8ba34c;">
        <a class="button icon ion-chevron-left" ng-click="teamMsgback()" style="background-color:#8ba34c;border: 1px solid #8ba34c;"></a>
        <h1 class="title" style="color: white;">团队信息</h1>
    </ion-header-bar>
    <ion-content ng-controller="teamMsgCtrl">
        <form action="" name="teamMsgForm" ng-submit="onSubmit(teamMsgForm.$valid)" >
            <div class="content teamRegiserDiv">
                <div class="list">
                    <a class="item item-avatar" href="#" style="border: 1px solid white;">
                        <img src="http://www.runoob.com/try/demo_source/venkman.jpg">
                        <h2>{{team_name}}</h2>
                        <p>{{team_introduce}}</p>
                    </a>
                    <label class="item item-input teamContentLabel">
                        <span>团队名：</span>
                        <input name="team_name" class="team_name" ng-model="team_name" ng-blur="change=true" ng-focus="change=false" required type="text">
                        <span ng-show="submitted && teamMsgForm.team_name.$invalid">
                                <i ng-show="teamMsgForm.team_name.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                            </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_name.$error.required && change"></i>
                    </label>
                    <label class="item item-input teamContentLabel1">
                        <span>账 号：</span>
                        <input name="team_leader_email" class="team_leader_email" ng-model="team_leader_email" ng-blur="change=true" ng-focus="change=false" required type="text" placeholder="从数据库获取数据时就把账号存起来，若不一致，则提示">
                        <span ng-show="updateemail" style="color: red;">账号不能修改</span>
                    </label>
                    <label class="item item-input teamContentLabel1">
                        <span>密 码：</span>
                        <input name="team_passwd" class="team_passwd" ng-model="team_passwd" ng-minlength="6" ng-maxlength="16" ng-blur="change=true" ng-focus="change=false" required type="password">
                        <span ng-show="submitted && teamMsgForm.team_passwd.$invalid">
                            <i ng-show="teamMsgForm.team_passwd.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                        </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_passwd.$error.required && change"></i>
                        <!--密码长度验证-->
                        <span style="color: red" ng-show="teamMsgForm.team_passwd.$invalid">
                            <span ng-show="teamMsgForm.team_passwd.$error.minlength">密码长度不小于6</span>
                            <span ng-show="teamMsgForm.team_passwd.$error.maxlength">密码长度不超过16</span>
                        </span>
                    </label>
                    <label class="item item-input teamContentLabel1">
                        <span>确认密码：</span>
                        <input name="team_repasswd" class="team_repasswd" ng-model="team_repasswd" ng-blur="change=true" ng-focus="change=false" required type="password">
                        <span ng-show="submitted && teamMsgForm.team_repasswd.$invalid">
                            <i ng-show="teamMsgForm.team_repasswd.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                        </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_repasswd.$error.required && change"></i>
                        <!--验证两次密码是否一致-->
                        <span style="color: red" ng-show="teamMsgForm.team_passwd.$valid">
                            <span ng-show="team_repasswd!=team_passwd">两次密码输入不一致</span>
                        </span>
                    </label>
                    <label class="item item-input teamContentLabel1">
                        <span>电话号码：</span>
                        <input name="team_leader_tel" class="team_leader_tel" ng-model="team_leader_tel" ng-minlength="11" ng-pattern="/^1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/" ng-blur="change=true" ng-focus="change=false" required type="text">
                        <span ng-show="submitted && teamMsgForm.team_leader_tel.$invalid">
                                <i ng-show="teamMsgForm.team_leader_tel.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                            </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_leader_tel.$error.required && change"></i>
                        <!--判断是否输入合法的电话号码-->
                        <i class="icon ion-close-circled loginNumConfirm" ng-if="(teamMsgForm.team_leader_tel.$error.minlength||teamMsgForm.team_leader_tel.$error.maxlength||teamMsgForm.team_leader_tel.$error.pattern)&&teamMsgForm.team_leader_tel.$touched"></i>
                    </label>
                    <label class="item item-input teamContentLabel1">
                        <span>所在学校：</span>
                        <input name="team_byschool" class="team_byschool" ng-model="team_byschool" ng-blur="change=true" ng-focus="change=false" required type="text">
                        <span ng-show="submitted && teamMsgForm.team_byschool.$invalid">
                                <i ng-show="teamMsgForm.team_byschool.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                            </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_byschool.$error.required && change"></i>
                    </label>
                    <label class="item item-input teamContentLabel1">
                        <span>团队创建时间：</span>
                        <input name="team_founding_time" class="team_founding_time" ng-model="team_founding_time" ng-blur="change=true" ng-focus="change=false" required type="text">
                        <span ng-show="submitted && teamMsgForm.team_founding_time.$invalid">
                                <i ng-show="teamMsgForm.team_founding_time.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                            </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_founding_time.$error.required && change"></i>
                    </label>
                    <label class="item item-input teamContentLabel1">
                        <span>团队负责人名字：</span>
                        <input name="team_leader_name" class="team_leader_name" ng-model="team_leader_name" ng-blur="change=true" ng-focus="change=false" required type="text">
                        <span ng-show="submitted && teamMsgForm.team_leader_name.$invalid">
                                <i ng-show="teamMsgForm.team_leader_name.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                            </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_leader_name.$error.required && change"></i>
                    </label>
                    <label class="item item-input">
                        <span>团队介绍：</span>
                        <input name="team_introduce" class="team_introduce" ng-model="team_introduce" ng-minlength="10" ng-maxlength="20" ng-blur="change=true" ng-focus="change=false" required type="text" placeholder="请输入团队介绍">
                        <span ng-show="submitted && teamMsgForm.team_introduce.$invalid">
                            <i ng-show="teamMsgForm.team_introduce.$error.required" class="icon ion-close-circled loginPasswdConfirm"></i>
                        </span>
                        <i class="icon ion-close-circled loginNumConfirm" ng-show="teamMsgForm.team_introduce.$error.required && change"></i>
                        <!--密码长度验证-->
                        <span style="color: red" ng-show="teamMsgForm.team_introduce.$invalid">
                            <span ng-show="teamMsgForm.team_introduce.$error.minlength">字数不小于10</span>
                            <span ng-show="teamMsgForm.team_introduce.$error.maxlength">字数不超过20</span>
                        </span>
                    </label>
                </div>
            </div>
        </form>
        <div class="padding">
            <button ng-click="updateTeamMsg()" class="button button-block button-calm" type="button">修改</button>
        </div>
    </ion-content>
</ion-view>