.releaseConBox{
    width: 86%;
    margin-left: 7%;
    margin-top: 10px;
}
.releaseConBox label{
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}
.activity_title_label,.activityMsgLabel{
    border-top: 1px solid #ffffff;
}
.activityMsgSpan{
    font-size: 16px;
    color: #444;
    margin-left: 16px;
}
.releaseBtn{
    margin-left: 80%;
    font-size: 16px;
    margin-top: -32px;
}
.teamActivityA{
    border-bottom: 1px solid white;
}
.teamActivityCon{
    margin-left: 5%;
    width: 90%;
    height: 70px;
}
.moreMsgBtn{
    margin-left: 80%;
    font-size: 14px;
}
